/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT        IDS.Directory_Station.id, IDS.Directory_Station.station_name_ru, IDS.Directory_ParkWay.id AS Expr1, IDS.Directory_ParkWay.park_name_ru, IDS.Directory_Ways.id AS Expr2, IDS.Directory_Ways.position, 
                         IDS.Directory_Ways.way_num_ru, IDS.Directory_Ways.way_name_ru, IDS.Directory_Ways.capacity, IDS.Directory_Ways.deadlock, IDS.Directory_Ways.crossing_uz, IDS.Directory_Ways.crossing_amkr, 
                         IDS.Directory_Ways.id_devision, IDS.Directory_Ways.note, IDS.Directory_Ways.[create], IDS.Directory_Ways.create_user, IDS.Directory_Ways.change, IDS.Directory_Ways.change_user
FROM            IDS.Directory_Ways INNER JOIN
                         IDS.Directory_Station ON IDS.Directory_Ways.id_station = IDS.Directory_Station.id INNER JOIN
                         IDS.Directory_ParkWay ON IDS.Directory_Ways.id_park = IDS.Directory_ParkWay.id
  where IDS.Directory_Ways.id in (SELECT [id_way] FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where [id_way] is not null group by [id_way])

  /****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT        IDS.Directory_Station.id, IDS.Directory_Station.station_name_ru, IDS.Directory_ParkWay.id AS Expr1, IDS.Directory_ParkWay.park_name_ru, IDS.Directory_Ways.id AS Expr2, IDS.Directory_Ways.position, 
                         IDS.Directory_Ways.way_num_ru, IDS.Directory_Ways.way_name_ru, IDS.Directory_Ways.capacity, IDS.Directory_Ways.deadlock, IDS.Directory_Ways.crossing_uz, IDS.Directory_Ways.crossing_amkr, 
                         IDS.Directory_Ways.id_devision, IDS.Directory_Ways.note, IDS.Directory_Ways.[create], IDS.Directory_Ways.create_user, IDS.Directory_Ways.change, IDS.Directory_Ways.change_user
FROM            IDS.Directory_Ways INNER JOIN
                         IDS.Directory_Station ON IDS.Directory_Ways.id_station = IDS.Directory_Station.id INNER JOIN
                         IDS.Directory_ParkWay ON IDS.Directory_Ways.id_park = IDS.Directory_ParkWay.id
  where IDS.Directory_Ways.id in (SELECT [id_way_from] FROM [KRR-PA-CNT-Railway].[IDS].[OutgoingSostav] where [id_way_from] is not null group by [id_way_from])