USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_Locomotive]    Script Date: 26.10.2020 17:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_Locomotive](
	[locomotive] [nvarchar](20) NOT NULL,
	[id_locomotive_status] [int] NOT NULL,
	[factory_number] [nvarchar](20) NULL,
	[inventory_number] [nvarchar](20) NULL,
	[note] [nvarchar](250) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_Locomotive] PRIMARY KEY CLUSTERED 
(
	[locomotive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [IDS].[Directory_Locomotive] ([locomotive], [id_locomotive_status], [factory_number], [inventory_number], [note], [create], [create_user], [change], [change_user]) VALUES (N'TЭM15-043', 2, NULL, NULL, N'Остановлен по износу', CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_Locomotive] ([locomotive], [id_locomotive_status], [factory_number], [inventory_number], [note], [create], [create_user], [change], [change_user]) VALUES (N'TЭM15-108', 2, NULL, NULL, N'Остановлен по износу', CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_Locomotive] ([locomotive], [id_locomotive_status], [factory_number], [inventory_number], [note], [create], [create_user], [change], [change_user]) VALUES (N'TЭM18-183', 1, NULL, NULL, NULL, CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
ALTER TABLE [IDS].[Directory_Locomotive]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Locomotive_Directory_LocomotiveStatus] FOREIGN KEY([id_locomotive_status])
REFERENCES [IDS].[Directory_LocomotiveStatus] ([id])
GO
ALTER TABLE [IDS].[Directory_Locomotive] CHECK CONSTRAINT [FK_Directory_Locomotive_Directory_LocomotiveStatus]
GO
