USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_DetentionReturn]    Script Date: 26.02.2021 15:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_DetentionReturn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cause_ru] [nvarchar](150) NOT NULL,
	[cause_en] [nvarchar](150) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_DetentionReturn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [IDS].[Directory_DetentionReturn] ON 

INSERT [IDS].[Directory_DetentionReturn] ([id], [cause_ru], [cause_en], [create], [create_user], [change], [change_user]) VALUES (1, N' нет валика подъёмника', N' нет валика подъёмника', CAST(N'2021-02-25T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_DetentionReturn] ([id], [cause_ru], [cause_en], [create], [create_user], [change], [change_user]) VALUES (2, N' нет колодки, завар башмака, проверить тормоз', N' нет колодки, завар башмака, проверить тормоз', CAST(N'2021-02-25T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_DetentionReturn] ([id], [cause_ru], [cause_en], [create], [create_user], [change], [change_user]) VALUES (3, N' нет плана', N' нет плана', CAST(N'2021-02-25T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Directory_DetentionReturn] OFF
