USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_Divisions]    Script Date: 11.06.2020 14:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_Divisions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [int] NOT NULL,
	[name_division_ru] [nvarchar](250) NOT NULL,
	[name_division_en] [nvarchar](250) NOT NULL,
	[division_abbr_ru] [nvarchar](50) NOT NULL,
	[division_abbr_en] [nvarchar](50) NOT NULL,
	[id_type_devision] [int] NOT NULL,
	[code] [nvarchar](5) NULL,
	[old] [bit] NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_Directory_Divisions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_Divisions] ON 

INSERT [IDS].[Directory_Divisions] ([id], [position], [name_division_ru], [name_division_en], [division_abbr_ru], [division_abbr_en], [id_type_devision], [code], [old], [parent_id]) VALUES (0, 0, N'До выяснения', N'Pending Clarification', N'До выяснения', N'Pending Clarification', 0, NULL, NULL, 1)
INSERT [IDS].[Directory_Divisions] ([id], [position], [name_division_ru], [name_division_en], [division_abbr_ru], [division_abbr_en], [id_type_devision], [code], [old], [parent_id]) VALUES (1, 1, N'ПАО АрселорМиттал Кривой Рог', N'OJSC ArcelorMittal Kryviy Rih', N'АМКР', N'AMKR', 0, NULL, NULL, NULL)
INSERT [IDS].[Directory_Divisions] ([id], [position], [name_division_ru], [name_division_en], [division_abbr_ru], [division_abbr_en], [id_type_devision], [code], [old], [parent_id]) VALUES (2, 1, N'Аглодоменный департамент', N'Blast furnance & Sinter Plant Department', N'АДД', N'BF&PD', 1, N'200', NULL, 1)
SET IDENTITY_INSERT [IDS].[Directory_Divisions] OFF
ALTER TABLE [IDS].[Directory_Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Divisions_Directory_Divisions] FOREIGN KEY([parent_id])
REFERENCES [IDS].[Directory_Divisions] ([id])
GO
ALTER TABLE [IDS].[Directory_Divisions] CHECK CONSTRAINT [FK_Directory_Divisions_Directory_Divisions]
GO
ALTER TABLE [IDS].[Directory_Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Divisions_Directory_TypeDivision] FOREIGN KEY([id_type_devision])
REFERENCES [IDS].[Directory_TypeDivision] ([id])
GO
ALTER TABLE [IDS].[Directory_Divisions] CHECK CONSTRAINT [FK_Directory_Divisions_Directory_TypeDivision]
GO
