@import url("../../font-awesome/css/font-awesome.min.css");

body {
    /*font-size: 1.2rem;*/
}

.btn {
    font-size: 1.6rem;
    /*margin-left:2px;*/
}

.warning {
    color: red;
}

input {
    margin: 0;
    padding: 0;
    font: initial;
}

#table-directory {
    font-size: 1.3rem;
}

#table-directory th, #table-directory thead {
    /*font-size: 1.3rem;*/
}

/* -------------------------------- 

Коррекция отображения компонента дата и время

-------------------------------- */

.ui-autocomplete{
	z-index: 200;
}

.ui-dialog{
	z-index: 100;
}


/*.ui-selectable-helper {
	position: absolute;
	z-index: 202;
	border: 1px dotted black;
}*/

.date-picker {
    z-index: 302;
}

.date-picker-wrapper {
    z-index: 301;
}

    .date-picker-wrapper .gap {
        z-index: 301;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 301;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 303;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 303;
        }

td.details-control {
    background: url('../../../Content/DataTables/media/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../../Content/DataTables/media/images/details_close.png') no-repeat center center;
}

/**/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px groove threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px groove threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

        
tr.group,
tr.group:hover {
    background-color: #ddd !important;
    text-align: center;
    text-transform: uppercase;
}

.exist-amkr {
    background-color:#deebbc !important;
}
.not-exist-amkr {
    background-color:#f5cdb0 !important;
}