@import url("../../font-awesome/css/font-awesome.min.css");

body {
    /*font-size: 1.2rem;*/
}

.btn {
    font-size: 1.6rem;
    /*margin-left:2px;*/
}

.warning {
    color: red;
}

input {
    margin: 0;
    padding: 0;
    font: initial;
}

#table-directory {
    font-size: 1.3rem;
}

#table-directory th, #table-directory thead {
    /*font-size: 1.3rem;*/
}

/* -------------------------------- 

Коррекция отображения компонента дата и время

-------------------------------- */

.ui-autocomplete{
	z-index: 200;
}

.ui-dialog{
	z-index: 100;
}


/*.ui-selectable-helper {
	position: absolute;
	z-index: 202;
	border: 1px dotted black;
}*/

.date-picker {
    z-index: 302;
}

.date-picker-wrapper {
    z-index: 301;
}

    .date-picker-wrapper .gap {
        z-index: 301;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 301;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 303;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 303;
        }

td.details-control {
    background: url('../../../Content/DataTables/media/images1/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../../Content/DataTables/media/images1/details_close.png') no-repeat center center;
}