@import url("../../font-awesome/css/font-awesome.min.css");

body {
    /*font-size: 1.2rem;*/
}

.btn {
    font-size: 1.6rem;
    /*margin-left:2px;*/
}

.warning {
    color: red;
}

input {
    margin: 0;
    padding: 0;
    font: initial;
}

#table-directory {
    font-size: 1.3rem;
}

#table-directory th, #table-directory thead {
    /*font-size: 1.3rem;*/
}

.w-5 {
    width:5%;
}
.w-10 {
    width:10%;
}
.w-15 {
    width:15%;
}
.w-20 {
    width:20%;
}

/* -------------------------------- 

Коррекция отображения компонента дата и время

-------------------------------- */

.ui-autocomplete{
	z-index: 200;
}

.ui-dialog{
	z-index: 100;
}


/*.ui-selectable-helper {
	position: absolute;
	z-index: 202;
	border: 1px dotted black;
}*/

.date-picker {
    z-index: 302;
}

.date-picker-wrapper {
    z-index: 301;
}

    .date-picker-wrapper .gap {
        z-index: 301;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 301;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 302;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 303;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 303;
        }

td.details-control {
    background: url('../../../Content/DataTables/media/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../../Content/DataTables/media/images/details_close.png') no-repeat center center;
}

/**/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px groove threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px groove threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

        
tr.group,
tr.group:hover {
    background-color: #ddd !important;
    text-align: center;
    text-transform: uppercase;
}

.exist-amkr {
    background-color: #ceffce !important;
}

.exist-amkr-lock {
    background-color: #e8e8b5 !important;
}

.not-exist-amkr {
    background-color:#f5cdb0 !important;
}



.operator-detali-tables {
    font-size: 12px;
}
.info-wagon-form-control {
    font-size: 1.2rem;
}
/*work-wagon - в работе*/
table.dataTable tbody tr:not(.selected).work-wagon.odd, table.dataTable tbody tr:not(.selected).work-wagon.even {
    background-color: #e8e8b5;
}

table.dataTable.display tbody tr:not(.selected).odd.work-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.work-wagon > .sorting_1 {
    background-color: #e2e2a2;
}

table.dataTable.display tbody tr:not(.selected).even.work-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.work-wagon > .sorting_1 {
    background-color: #e2e2a2;
}
/*completed-wagon - действие применено*/
table.dataTable tbody tr:not(.selected).completed-wagon.odd, table.dataTable tbody tr:not(.selected).completed-wagon.even {
    background-color: #59b300;
}

table.dataTable.display tbody tr:not(.selected).odd.completed-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.completed-wagon > .sorting_1 {
    background-color: #4c9a00;
}

table.dataTable.display tbody tr:not(.selected).even.completed-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.completed-wagon > .sorting_1 {
    background-color: #4c9a00;
}
/*cancel-wagon - действие отменено*/
table.dataTable tbody tr:not(.selected).cancel-wagon.odd, table.dataTable tbody tr:not(.selected).cancel-wagon.even {
    background-color: #ffcdcd;
}

table.dataTable.display tbody tr:not(.selected).odd.cancel-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.cancel-wagon > .sorting_1 {
    background-color: #ffb4b4;
}

table.dataTable.display tbody tr:not(.selected).even.cancel-wagon > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.cancel-wagon > .sorting_1 {
    background-color: #ffb4b4;
}