body {
}


/*#code_sng {
    width:5%;
}
#countrys_name {
    width:10%;
}
#code_sng {
    width:5%;
}
#genus_abbr {
    width:5%;
}
#genus_name {
    width:15%;
}
#usl_tip {
    width:10%;
}
#kol_os {
    width:10%;
}
#gruzp {
    width:10%;
}
#tara {
    width:10%;
}*/
