USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_GenusWagons]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_GenusWagons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbr_ru] [nvarchar](5) NOT NULL,
	[genus_ru] [nvarchar](50) NOT NULL,
	[abbr_en] [nvarchar](5) NOT NULL,
	[genus_en] [nvarchar](50) NOT NULL,
	[rod_uz] [int] NULL,
	[rod_default] [bit] NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_GenusWagons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_GenusWagons] ON 

INSERT [IDS].[Directory_GenusWagons] ([id], [abbr_ru], [genus_ru], [abbr_en], [genus_en], [rod_uz], [rod_default], [create], [create_user], [change], [change_user]) VALUES (0, N'?', N'До выяснения', N'?', N'До выяснения', NULL, 1, CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_GenusWagons] ([id], [abbr_ru], [genus_ru], [abbr_en], [genus_en], [rod_uz], [rod_default], [create], [create_user], [change], [change_user]) VALUES (1, N' ЗРВ ', N' Зерновозы ', N' ЗРВ ', N'Grain trucks', 95, 1, CAST(N'2020-04-07T21:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_GenusWagons] ([id], [abbr_ru], [genus_ru], [abbr_en], [genus_en], [rod_uz], [rod_default], [create], [create_user], [change], [change_user]) VALUES (2, N'ЦССН', N' Цистерны для светлого налива ', N'ЦССН', N'Tanks for light loading', 70, 0, CAST(N'2020-04-07T21:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_GenusWagons] OFF
