USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_InlandRailway]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_InlandRailway](
	[code] [int] NOT NULL,
	[inlandrailway_name_ru] [nvarchar](150) NOT NULL,
	[inlandrailway_name_en] [nvarchar](150) NOT NULL,
	[inlandrailway_abbr_ru] [nvarchar](20) NOT NULL,
	[inlandrailway_abbr_en] [nvarchar](20) NOT NULL,
	[code_railway] [int] NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_InlandRailway] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [IDS].[Directory_InlandRailway] ([code], [inlandrailway_name_ru], [inlandrailway_name_en], [inlandrailway_abbr_ru], [inlandrailway_abbr_en], [code_railway], [create], [create_user], [change], [change_user]) VALUES (1, N'Октябрьская', N'October', N'Окт', N'Oct', 20, CAST(N'2020-02-04T15:16:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
INSERT [IDS].[Directory_InlandRailway] ([code], [inlandrailway_name_ru], [inlandrailway_name_en], [inlandrailway_abbr_ru], [inlandrailway_abbr_en], [code_railway], [create], [create_user], [change], [change_user]) VALUES (8, N'Эстонская', N'Estonian', N'Эст', N'Est', 26, CAST(N'2020-02-04T15:16:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
INSERT [IDS].[Directory_InlandRailway] ([code], [inlandrailway_name_ru], [inlandrailway_name_en], [inlandrailway_abbr_ru], [inlandrailway_abbr_en], [code_railway], [create], [create_user], [change], [change_user]) VALUES (9, N'Латвийская', N'Latvian', N'Лат', N'Lat', 25, CAST(N'2020-02-04T15:16:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
ALTER TABLE [IDS].[Directory_InlandRailway]  WITH CHECK ADD  CONSTRAINT [FK_Directory_InlandRailway_Directory_Railway] FOREIGN KEY([code_railway])
REFERENCES [IDS].[Directory_Railway] ([code])
GO
ALTER TABLE [IDS].[Directory_InlandRailway] CHECK CONSTRAINT [FK_Directory_InlandRailway_Directory_Railway]
GO
