USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_ModelsWagons]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_ModelsWagons](
	[code] [nvarchar](20) NOT NULL,
	[model_ru] [nvarchar](250) NOT NULL,
	[model_en] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Directory_ModelsWagons] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [IDS].[Directory_ModelsWagons] ([code], [model_ru], [model_en]) VALUES (N'10-4022', N' крытый Крытый с поднимающимся кузовом для аппатитов', N' крытый Крытый с поднимающимся кузовом для аппатитов')
INSERT [IDS].[Directory_ModelsWagons] ([code], [model_ru], [model_en]) VALUES (N'10-475', N' крытый Крытый с поднимающимся кузовом для аппатитов', N' крытый Крытый с поднимающимся кузовом для аппатитов')
INSERT [IDS].[Directory_ModelsWagons] ([code], [model_ru], [model_en]) VALUES (N'11-066-04', N' крытый Крытый с разгрузочными люками в боковой стене и крыше       ', N' крытый Крытый с разгрузочными люками в боковой стене и крыше       ')
GO
