USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_WagonsCondition]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_WagonsCondition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbr_ru] [nvarchar](20) NOT NULL,
	[condition_ru] [nvarchar](100) NOT NULL,
	[abbr_en] [nvarchar](20) NOT NULL,
	[condition_en] [nvarchar](100) NOT NULL,
	[red] [bit] NOT NULL,
 CONSTRAINT [PK_Directory_WagonsCondition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_WagonsCondition] ON 

INSERT [IDS].[Directory_WagonsCondition] ([id], [abbr_ru], [condition_ru], [abbr_en], [condition_en], [red]) VALUES (1, N'гд.', N'годен под погрузку', N'гд.', N'годен под погрузку', 0)
INSERT [IDS].[Directory_WagonsCondition] ([id], [abbr_ru], [condition_ru], [abbr_en], [condition_en], [red]) VALUES (2, N'кт.', N'катанка', N'кт.', N'катанка', 0)
INSERT [IDS].[Directory_WagonsCondition] ([id], [abbr_ru], [condition_ru], [abbr_en], [condition_en], [red]) VALUES (3, N'чг.', N'чугун', N'чг.', N'чугун', 0)
SET IDENTITY_INSERT [IDS].[Directory_WagonsCondition] OFF
