USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_OperatorsWagons]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_OperatorsWagons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbr_ru] [nvarchar](20) NOT NULL,
	[operators_ru] [nvarchar](100) NOT NULL,
	[abbr_en] [nvarchar](20) NOT NULL,
	[operators_en] [nvarchar](100) NOT NULL,
	[paid] [bit] NOT NULL,
	[rop] [bit] NOT NULL,
	[local_use] [bit] NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_OperatorsWagons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_OperatorsWagons] ON 

INSERT [IDS].[Directory_OperatorsWagons] ([id], [abbr_ru], [operators_ru], [abbr_en], [operators_en], [paid], [rop], [local_use], [create], [create_user], [change], [change_user]) VALUES (0, N'?', N'До выяснения', N'?', N'Until clarification', 0, 0, 0, CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_OperatorsWagons] ([id], [abbr_ru], [operators_ru], [abbr_en], [operators_en], [paid], [rop], [local_use], [create], [create_user], [change], [change_user]) VALUES (1, N'РЛ', N'ТОВ "РЕЙЛ ЛОДЖИСТІКС"', N'РЛ', N'ТОВ "РЕЙЛ ЛОДЖИСТІКС"', 1, 0, 1, CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_OperatorsWagons] ([id], [abbr_ru], [operators_ru], [abbr_en], [operators_en], [paid], [rop], [local_use], [create], [create_user], [change], [change_user]) VALUES (2, N'СРЛ', N'ООО "Скинест Рейл"', N'СРЛ', N'ООО "Скинест Рейл"', 1, 0, 1, CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Directory_OperatorsWagons] OFF
