USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Arrival_UZ_Cont_Pay]    Script Date: 15.09.2020 16:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Arrival_UZ_Cont_Pay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cont] [bigint] NOT NULL,
	[kod] [nvarchar](3) NOT NULL,
	[summa] [bigint] NOT NULL,
 CONSTRAINT [PK_Arrival_UZ_Cont_Pay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Cont_Pay] ON 

INSERT [IDS].[Arrival_UZ_Cont_Pay] ([id], [id_cont], [kod], [summa]) VALUES (1009, 10021, N'001', 185800)
INSERT [IDS].[Arrival_UZ_Cont_Pay] ([id], [id_cont], [kod], [summa]) VALUES (1010, 10022, N'001', 185800)
INSERT [IDS].[Arrival_UZ_Cont_Pay] ([id], [id_cont], [kod], [summa]) VALUES (1011, 10023, N'001', 185800)
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Cont_Pay] OFF
ALTER TABLE [IDS].[Arrival_UZ_Cont_Pay]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_UZ_Cont_Pay_Arrival_UZ_Vagon_Cont] FOREIGN KEY([id_cont])
REFERENCES [IDS].[Arrival_UZ_Vagon_Cont] ([id])
GO
ALTER TABLE [IDS].[Arrival_UZ_Cont_Pay] CHECK CONSTRAINT [FK_Arrival_UZ_Cont_Pay_Arrival_UZ_Vagon_Cont]
GO
