USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Arrival_UZ_Vagon_Acts]    Script Date: 15.09.2020 16:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Arrival_UZ_Vagon_Acts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_vagon] [bigint] NOT NULL,
	[date_akt] [datetime] NULL,
	[date_dved] [datetime] NULL,
	[nom_akt] [nvarchar](9) NULL,
	[nom_dved] [int] NULL,
	[prichina_akt] [nvarchar](70) NULL,
	[stn_akt] [int] NULL,
	[stn_name_akt] [nvarchar](50) NULL,
	[type] [int] NULL,
	[vagon_nom] [int] NULL,
 CONSTRAINT [PK_Arrival_UZ_Vagon_Acts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Vagon_Acts] ON 

INSERT [IDS].[Arrival_UZ_Vagon_Acts] ([id], [id_vagon], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (3, 10433, CAST(N'2020-07-12T00:00:00.000' AS DateTime), CAST(N'2020-07-12T07:40:00.000' AS DateTime), N'448/М', 47006895, N'АО НПК', 467004, N'Кривой Рог-Главный', NULL, 58716721)
INSERT [IDS].[Arrival_UZ_Vagon_Acts] ([id], [id_vagon], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (4, 10435, CAST(N'2020-07-12T00:00:00.000' AS DateTime), CAST(N'2020-07-12T07:40:00.000' AS DateTime), N'448/М', 47006895, N'Отцеплен по уменьшению веса поезда.', 467004, N'Кривой Рог-Главный', NULL, 52879996)
INSERT [IDS].[Arrival_UZ_Vagon_Acts] ([id], [id_vagon], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (5, 10443, CAST(N'2020-07-12T00:00:00.000' AS DateTime), CAST(N'2020-07-12T07:40:00.000' AS DateTime), N'448/М', 47006895, N'Отцеплен по уменьшению веса поезда.', 467004, N'Кривой Рог-Главный', NULL, 55344261)
GO
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Vagon_Acts] OFF
ALTER TABLE [IDS].[Arrival_UZ_Vagon_Acts]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_UZ_Vagon_Acts_Arrival_UZ_Vagon] FOREIGN KEY([id_vagon])
REFERENCES [IDS].[Arrival_UZ_Vagon] ([id])
GO
ALTER TABLE [IDS].[Arrival_UZ_Vagon_Acts] CHECK CONSTRAINT [FK_Arrival_UZ_Vagon_Acts_Arrival_UZ_Vagon]
GO
