USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Arrival_UZ_Document_Acts]    Script Date: 15.09.2020 16:43:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Arrival_UZ_Document_Acts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_document] [bigint] NOT NULL,
	[date_akt] [datetime] NULL,
	[date_dved] [datetime] NULL,
	[nom_akt] [nvarchar](9) NULL,
	[nom_dved] [int] NULL,
	[prichina_akt] [nvarchar](70) NULL,
	[stn_akt] [int] NULL,
	[stn_name_akt] [nvarchar](50) NULL,
	[type] [int] NULL,
	[vagon_nom] [int] NULL,
 CONSTRAINT [PK_Arrival_UZ_Document_Acts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Document_Acts] ON 

INSERT [IDS].[Arrival_UZ_Document_Acts] ([id], [id_document], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (1, 60, CAST(N'2020-06-03T00:00:00.000' AS DateTime), NULL, N'10905', NULL, N'СРОК ДОСТАВКИ ПРОДЛЕН НА 2 СУТОК', 467108, N'Кривой Рог-Сортировочный', NULL, NULL)
INSERT [IDS].[Arrival_UZ_Document_Acts] ([id], [id_document], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (2, 82, CAST(N'2020-06-18T00:00:00.000' AS DateTime), NULL, N'29А', NULL, N'збільш. терм. дост. вант. на дві доби зг. п.2.9 нак.644 в меж ДЗ3', 414115, N'Тимково', NULL, NULL)
INSERT [IDS].[Arrival_UZ_Document_Acts] ([id], [id_document], [date_akt], [date_dved], [nom_akt], [nom_dved], [prichina_akt], [stn_akt], [stn_name_akt], [type], [vagon_nom]) VALUES (3, 92, CAST(N'2020-06-23T00:00:00.000' AS DateTime), NULL, N'3878', NULL, N'терм дост вант збіл на 2 доби в меж ДН-3 п 2.9 нак644', 411901, N'Помошная', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Arrival_UZ_Document_Acts] OFF
ALTER TABLE [IDS].[Arrival_UZ_Document_Acts]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_UZ_Document_Acts_Arrival_UZ_Document] FOREIGN KEY([id_document])
REFERENCES [IDS].[Arrival_UZ_Document] ([id])
GO
ALTER TABLE [IDS].[Arrival_UZ_Document_Acts] CHECK CONSTRAINT [FK_Arrival_UZ_Document_Acts_Arrival_UZ_Document]
GO
