/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT count([id])
      ,[id_wagon_internal_routes]
  FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalMovement]
  where [way_end] is null
  group by [id_wagon_internal_routes]
  order by count([id]) desc