/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [id]
      ,[id_wagon_internal_routes]
      ,[id_station]
      ,[id_way]
      ,[way_start]
      ,[way_end]
      ,[id_outer_way]
      ,[outer_way_start]
      ,[outer_way_end]
      ,[position]
      ,[note]
      ,[create]
      ,[create_user]
      ,[close]
      ,[close_user]
      ,[parent_id]
	  --delete
  FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalMovement]

  where id in (318099,318098,318097,318096,318095,318094,318093,318092,318091,318090,318089,318047,318046,318045,318044,318043,318042,318041,318040,318039,318038,317945,317944,317943,317942,317941,317940,317939,317938,317937,317884,317883,317882,317881,317880,317879,317878,317877,317847,317846,317845,317844,317843,317842,317841,317821,317820,317819,317818,317817,317816,317802,317801,317800,317799,317798,317794,317793,317792,317791,317746,317745,317744,317730,317729,317673,313943,313937,313927,313922,313918,313902,313814,313763,313760,313380,312745,312732,312722,312709,312653,312649,312629,312582,312500,312011,310732,309273)