@using WEB_UI.App_LocalResources;
<button type="button" id="bt-info-edit" class="btn btn-primary wagon-info-view">@IDSMORSResource.bt_edit_text</button>
<button type="button" id="bt-info-delete" class="btn btn-primary wagon-info-view">@IDSMORSResource.bt_delete_text</button>
<button type="button" id="bt-info-save" class="btn btn-primary wagon-info-edit">Сохранить</button>
<button type="button" id="bt-info-cancel" class="btn btn-primary wagon-info-edit">Отмена</button>
<button type="button" id="bt-repairs-add" class="btn btn-primary wagon-repairs-view">Добавить</button>
