@{
    ViewBag.Title = "ElectronicСards";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/view/electronic-cards.css">
}

@section scripts {
    @*<script src="js/jquery-2.1.1.js"></script>
        <script src="js/jquery.mixitup.min.js"></script>*@
    <script src="~/Scripts/view/idsmors/electronic-cards.js"></script> <!-- Resource jQuery -->
}
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        hhhh
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->
