@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSMORSResource.ecards_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/shared/filter-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsmors/electronic-cards.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">

}

@section scripts {
    @Scripts.Render("~/bundles/DataTables")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_mors.js"></script> <!-- Class API ИДС " Управление собственным подвижным составом" -->

    <script src="~/Scripts/view/idsmors/electronic-cards.js"></script> <!--  -->
}
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            @*<input id="myInput1" type="text" />
            <input id="myInput2" type="text" />*@ 
                    
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <table class='display compact' id="table-cards-wagons" style="width:100%" cellpadding="0"></table>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <div id="search-contener" class="cd-filter-form"></div>   
        <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->
