@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSMORSResource.ecards_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @*<link rel="stylesheet" type="text/css" href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Content/view/shared/filter-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsmors/electronic-cards.css">


}

@section scripts {
    @Scripts.Render("~/bundles/DataTables")


    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_mors.js"></script> <!-- Class API ИДС " Управление собственным подвижным составом" -->

    <script src="~/Scripts/view/idsmors/electronic-cards.js"></script> <!--  -->
}
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            @*<input id="myInput1" type="text" />
                <input id="myInput2" type="text" />*@

        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <table class='compact cell-border display' id="table-cards-wagons" style="width:100%" cellpadding="0"></table>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form id="filtr"></form>
        <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->

<div class="cd-wagon-content">
    <form>
        <div class="wagon-view">
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-12">
                    <button type="button" class="btn btn-primary">Править</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="num-wagon-view">Номер вагона:</label>
                    <input type="number" class="form-control" id="num-wagon-view" placeholder="" disabled>
                </div>
            </div>
            <fieldset>
                <legend> Основные характеристики </legend>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="state-wagon-view">Государство собственник:</label>
                        <input type="text" class="form-control" id="state-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="station-wagon-view">Станция приписки:</label>
                        <input type="text" class="form-control" id="station-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="genus-wagon-view">Род подвижного сотава:</label>
                        <input type="text" class="form-control" id="genus-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="type-wagon-view">Тип подвижного сотава:</label>
                        <input type="text" class="form-control" id="type-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="code-model-wagon-view">Модель:</label>
                        <input type="text" class="form-control" id="code-model-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="wagon-manufacturer-wagon-view">Завод изготовитель:</label>
                        <input type="text" class="form-control" id="wagon-manufacturer-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="year-wagon-create-wagon-view">Год постройки:</label>
                        <input type="text" class="form-control" id="year-wagon-create-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="carrying-capacity-wagon-view">Грузоподъемность,т:</label>
                        <input type="text" class="form-control" id="carrying-capacity-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="tara-wagon-view">Тара, тонн:</label>
                        <input type="text" class="form-control" id="tara-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="body-volume-wagon-view">Объем кузова:</label>
                        <input type="text" class="form-control" id="body-volume-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="axis-length-wagon-view">Длина по осям,м:</label>
                        <input type="text" class="form-control" id="axis-length-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="type-repairs-wagon-view">Тип планируемого ремонта:</label>
                        <input type="text" class="form-control" id="type-repairs-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="date-type-repairs-wagon-view">Дата планируемого ремонта:</label>
                        <input type="text" class="form-control" id="date-type-repairs-wagon-view" placeholder="" disabled>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend> Собственность </legend>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="type-ownership-wagon-view">Признак собственности:</label>
                        <input type="text" class="form-control" id="type-ownership-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="owner-wagon-view">Собственник:</label>
                        <input type="text" class="form-control" id="owner-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="date-registration-wagon-view">Дата последней регистрации:</label>
                        <input type="text" class="form-control" id="date-registration-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="lessor-wagon-view">Арендодатель:</label>
                        <input type="text" class="form-control" id="lessor-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="operator-wagon-view">Оперативное управление:</label>
                        <input type="text" class="form-control" id="operator-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="poligon-travel-wagon-view">Полигон курсирования:</label>
                        <input type="text" class="form-control" id="poligon-travel-wagon-view" placeholder="" disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="special-conditions-view">Особые условия:</label>
                        <input type="text" class="form-control" id="special-conditions-view" placeholder="" disabled>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend> Ремонты </legend>
                <fieldset>
                    <legend> ДЕПОвский </legend>
                </fieldset>
                <fieldset>
                    <legend> Капитальный </legend>
                </fieldset>
                <fieldset>
                    <legend> Текущий </legend>
                </fieldset>
            </fieldset>

        </div>
        @*<div class="form-group col-xs-6">
                <label for="body-volume-wagon-view">Объем кузова:</label>
                <input type="text" class="form-control" id="body-volume-wagon-view" placeholder="" disabled>
            </div>*@
        @*<div class="form-group col-xs-6">
                <label for="axis-length-wagon-view">Длина по осям,м:</label>
                <input type="text" class="form-control" id="axis-length-wagon-view" placeholder="" disabled>
            </div>*@

        @*<div class="row">
                <div class="form-group col-xs-6">
                    <label for="num-wagon-view">Example label</label>
                    <input type="number" class="form-control" id="num-wagon-view" placeholder="номер вагона">
                </div>
                <div class="form-group col-xs-6">
                    <label for="inputEmail">Адрес email:</label>
                    <select class="form-control">
                        <option>Большой - 1</option>
                        <option>Большой - 2</option>
                    </select>
                </div>
            </div>*@

    </form>
    @*<form id="wagon" class="cd-form">
            <div class="wagon-view">
                <div>
                    <input type="button" id="edit-info" value="Править">
                </div>
                <div>
                    <div class="left">
                        <label class="cd-label" for="num-wagon-view">Номер вагона:</label>
                        <input type="number" id="num-wagon-view" name="num-wagon-view" disabled="disabled">
                    </div>
                </div>

                <fieldset>
                    <legend>
                        <div>
                            <div class="left">
                                <label class="cd-label" for="num-wagon-view">Номер вагона:</label>
                                <input type="number" id="num-wagon-view" name="num-wagon-view" disabled="disabled">
                            </div>
                            <div class="right">
                                <label class="cd-label" for="num-wagon-view">Номер вагона:</label>
                                <input type="number" id="num-wagon-view" name="num-wagon-view" disabled="disabled">
                            </div>
                        </div>
                        <div>
                            <div class="left">
                                <h4>ddddddddddd</h4>
                                <p class="cd-select">
                                    <select class="budget" id="cd-budget-currency-project-edit" name="cd-budget-currency-project-edit"></select>
                                </p>
                            </div>
                            <div class="right">
                                <h4>ffffffffff</h4>
                                <p class="cd-select">
                                    <select class="budget" id="cd-budget-currency-project-edit" name="cd-budget-currency-project-edit"></select>
                                </p>
                            </div>
                        </div>

                    </legend>
                </fieldset>
            </div>
        </form>*@
    <a href="#0" class="close cd-img-replace">Close</a>
</div> <!-- .cd-project-content -->
