@using WEB_UI.App_LocalResources;
<button type="button" id="bt-kap-repairs-edit" class="btn btn-primary wagon-repairs-view">@IDSMORSResource.bt_edit_text</button>
<button type="button" id="bt-kap-repairs-delete" class="btn btn-primary wagon-repairs-view">@IDSMORSResource.bt_delete_text</button>
