body {
    /*height: 297mm;*/
    width: 210mm;
    /*padding: 10mm;*/
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    text-align: center;
}

/* Font Definitions */
@font-face {
    font-family: "Cambria Math";
    panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
    font-family: Calibri;
    panose-1: 2 15 5 2 2 2 4 3 2 4;
}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8.0pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 11.0pt;
    font-family: "Calibri",sans-serif;
}

.MsoChpDefault {
    font-family: "Calibri",sans-serif;
}

@page WordSection1 {
    size: 595.3pt 841.9pt;
    margin: 1.0cm 1.0cm 1.0cm 49.65pt;
}

div.WordSection1 {
    page: WordSection1;
}
/* List Definitions */
ol {
    margin-bottom: 0cm;
}

ul {
    margin-bottom: 0cm;
}

.text-title {
    font-size: 9.0pt;
    line-height: 107%;
    font-family: Arial, sans-serif;
    color: black;
}

.text-title1 {
    font-size: 9.0pt;
    font-family: Arial, sans-serif;
    color: black;
}

.p-text-title {
    margin-bottom: 0cm;
    margin-bottom: .0001pt;
}

.p-text-title1 {
    margin-bottom: 0cm;
    margin-bottom: .0001pt;
    text-align: center;
}

table {
    page-break-after: auto;
}

    table tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    table td {
        page-break-inside: avoid;
        page-break-after: auto;
    }