@import url("../../font-awesome/css/font-awesome.min.css");

body {
}

.dt-buttons {
   font-size:1rem;
}

/*table.fixedHeader-floating {
    top: 76px !important;
}*/
/*table.compact-table th, table.compact-table td {
    padding:0.25rem 0.75rem;
}*/
.operator-detali-tables {
    font-size: 12px;
}


/*Коррекция отображения компонента дата и время*/
.date-picker {
    z-index: 202;
}

.date-picker-wrapper {
    z-index: 201;
}

    .date-picker-wrapper .gap {
        z-index: 201;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 201;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 202;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 202;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 203;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 203;
        }

.ui-dialog {
    position: fixed !important;
}

td.station-control {
    background: url('../../../Content/DataTables/media/images/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr.shown td.station-control {
    background: url('../../../Content/DataTables/media/images/details_close.png') no-repeat center center;
    width: 20px;
}

td.park-control {
    background: url('../../../Content/DataTables/media/images/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr.shown td.park-control {
    background: url('../../../Content/DataTables/media/images/details_close.png') no-repeat center center;
    width: 20px;
}

table.dataTable tbody tr.station {
    /*border: 1px solid #808080;*/
    background-color: #ddd;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}

table.dataTable tbody tr.park {
    background-color: #ebebeb;
    color: #000000;
    text-transform: uppercase;
}

td.station-name {
    text-align: left;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*width:100px;*/
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td.park-name {
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}

td.way-name {
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}

.icon-station {
    background-image: url("../../../Images/idsrwt/wsd/station.svg");
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.icon-park {
    background-image: url("../../../Images/idsrwt/wsd/park.svg");
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.icon-way {
    background-image: url("../../../Images/idsrwt/wsd/way.png");
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.icon-tree-open {
    background-image: url("../../../Images/idsrwt/wsd/tree_detali.png");
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}

.icon-tree-open-end {
    background-image: url("../../../Images/idsrwt/wsd/tree_end.png");
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}

.icon-tree-open-skeep {
    background-image: url("../../../Images/idsrwt/wsd/tree_skeep.png");
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}

.icon-tree-open-not {
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}

table#wagons-way {
    /*font-size: 13px;*/
}

    table#wagons-way th {
        /*font-size: 13px;*/
    }

    table#wagons-way tbody td {
        /*font-size: 13px;*/
        white-space: nowrap;
    }


tr.group,
tr.group:hover {
    background-color: #ddd !important;
    text-align: center;
    text-transform: uppercase;
}
/* -------------------------------- 

cars detali panel 

-------------------------------- */
.cd-operation-detali {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: #ebebeb;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
    transition: transform 0.4s 0s, visibility 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}

    .cd-operation-detali > div {
        height: 100%;
        overflow-y: auto;
        padding: 4em 2em;
    }

    .cd-operation-detali.is-visible {
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
        -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
        transition: transform 0.4s 0s, visibility 0s 0s;
        -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
        -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
        transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    }

        .cd-operation-detali.is-visible > div {
            /* smooth scrolling on iOS */
            -webkit-overflow-scrolling: touch;
        }

    /*.cd-cars-detali p {
        margin-bottom: 1em;
        font-size: 1.4rem;
        color: #6f757c;
        line-height: 1.6;
        font-weight:400;
    }*/

    .cd-operation-detali .close {
        display: block;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 80px;
        right: 3%;
        background: url(../../../Images/cd/cd-close-dark.svg) no-repeat center center;
    }

.cd-img-replace {
    /* replace text with image */
    color: transparent;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.cd-form {
    width: 90%;
    /*max-width: 600px;*/
    margin: 4em auto;
}

/*fieldset legend*/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px groove threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px groove threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

.not-select-wagon {
    background-color: #fcca93;
    text-decoration: line-through;
}


.exist-amkr {
    background-color:#deebbc !important;
}
.not-exist-amkr {
    background-color:#f5cdb0 !important;
}