body {
}

/*Коррекция отображения компонента дата и время*/
.date-picker {
    z-index: 202;
}

.date-picker-wrapper {
    z-index: 201;
}

    .date-picker-wrapper .gap {
        z-index: 201;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 201;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 202;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 202;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 203;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 203;
        }

/**/
legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}

fieldset {
    border: 2px solid threedface;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px solid threedface;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: none;
        }

.inp-epd {
    border-color: blue;
    border-width: 2px;
}

.inp-manual {
    border-color: red;
    border-width: 2px;
}

.inp-uz {
    border-color: orange;
    border-width: 2px;
}

.inp-auto {
    border-color: darkviolet;
    border-width: 2px;
}