body {
}

/*Коррекция отображения компонента дата и время*/
.date-picker {
    z-index: 1103;
}

.date-picker-wrapper {
    z-index: 1102;
}

    .date-picker-wrapper .gap {
        z-index: 1102;
    }

        .date-picker-wrapper .gap .gap-line .gap-1 {
            z-index: 1102;
        }

        .date-picker-wrapper .gap .gap-line .gap-2 {
            z-index: 1103;
        }

        .date-picker-wrapper .gap .gap-line .gap-3 {
            z-index: 1103;
        }

        .date-picker-wrapper .gap .gap-top-mask {
            z-index: 1104;
        }

        .date-picker-wrapper .gap .gap-bottom-mask {
            z-index: 1104;
        }
