body {

}

/*Уменьшить размер таблицы*/
.table-report-operation {
    font-size: 0.8rem;
    color: rgba(51, 29, 53, 0.8);
}

.wagon-busy {
    text-decoration: line-through;
}

/*legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
    text-transform: uppercase;
}*/

/*fieldset {
    border: 1px solid red;
    padding: 10px;
    border-radius: 3px;
}

    fieldset > fieldset {
        border: 1px solid red;
        padding: 5px;
        border-radius: 3px;
    }

        fieldset > fieldset legend {
            text-transform: uppercase;
        }*/