/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [id]
      ,[id_sostav]
      ,[composition_index]
      ,[num]
      ,[country_code]
      ,[weight]
      ,[cargo_code]
      ,[train_number]
      ,[operation]
      ,[date_operation]
      ,[code_station_from]
      ,[code_station_on]
      ,[code_station_current]
      ,[count_wagons]
      ,[sum_weight]
      ,[flag_cargo]
      ,[route]
      ,[owner]
      ,[num_doc_arrived]
      ,[arrived]
      ,[parent_id]
      ,[user_name]
  FROM [KRR-PA-CNT-Railway].[METRANS].[ApproachesCars] 
  order by [date_operation] desc
  /****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [id]
      ,[id_sostav]
      ,[position]
      ,[num]
      ,[country_code]
      ,[wight]
      ,[cargo_code]
      ,[cargo]
      ,[station_code]
      ,[station]
      ,[consignee]
      ,[operation]
      ,[composition_index]
      ,[date_operation]
      ,[train]
      ,[num_doc_arrived]
      ,[arrived]
      ,[parent_id]
      ,[user_name]
  FROM [KRR-PA-CNT-Railway].[METRANS].[ArrivalCars]
  order by [date_operation] desc
  /****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP (1000) [id]
      ,[date_time]
      ,[user_name]
      ,[user_host_name]
      ,[user_host_address]
      ,[physical_path]
      ,[user_message]
      ,[service]
      ,[event_id]
      ,[hresult]
      ,[inner_exception]
      ,[message]
      ,[source]
      ,[stack_trace]
  FROM [KRR-PA-CNT-Railway].[LOGS].[Errors] order by [date_time] desc
  /****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT [id]
      ,[date_time]
      ,[user_name]
      ,[user_host_name]
      ,[user_host_address]
      ,[physical_path]
      ,[service]
      ,[event_id]
      ,[event]
      ,[status]
  FROM [KRR-PA-CNT-Railway].[LOGS].[Events] 
  where [service]<>104
  order by [date_time] desc
