
declare @id_sostav int = 19501

SELECT [id]
      ,[id_arrived]
      ,[id_sostav]
      ,[train]
      ,[composition_index]
      ,[date_arrival]
      ,[date_adoption]
      ,[date_adoption_act]
      ,[id_station_from]
      ,[id_station_on]
      ,[id_way]
      ,[numeration]
      ,[num_doc]
      ,[count]
      ,[status]
      ,[note]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav]
  where id_sostav = @id_sostav

  SELECT [id]
      ,[id_arrival]
      ,[num]
      ,[position]
      ,[position_arrival]
      ,[consignee]
      ,[num_doc]
      ,[id_transfer]
      ,[note]
      ,[date_adoption_act]
      ,[arrival]
      ,[arrival_user]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
      ,[id_arrival_uz_vagon]
  FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalCars]
  where id_arrival = (select [id] FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where id_sostav = @id_sostav)

  --> Выборка всех прибытий в метранс

  SELECT [id]
      ,[id_arrived]
      ,[file_name]
      ,[composition_index]
      ,[date_time]
      ,[operation]
      ,[create]
      ,[close]
      ,[arrived]
      ,[Parent_id]
  FROM [KRR-PA-CNT-Railway].[METRANS].[ArrivalSostav]
  where [id_arrived]= (select id_arrived FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where id_sostav = @id_sostav)