/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT sap_is.[id]
      ,sap_is.[id_arrival_car]
      ,sap_is.[num]
      ,sap_is.[num_doc_uz]
      ,sap_is.[date_doc_uz]
      ,sap_is.[code_border_checkpoint]
      ,sap_is.[name_border_checkpoint]
      ,sap_is.[cross_time]
      ,sap_is.[VBELN]
      ,sap_is.[NUM_VBELN]
      ,sap_is.[WERKS]
      ,sap_is.[LGORT]
      ,sap_is.[LGOBE]
      ,sap_is.[ERDAT]
      ,sap_is.[ETIME]
      ,sap_is.[LGORT_10]
      ,sap_is.[LGOBE_10]
      ,sap_is.[MATNR]
      ,sap_is.[MAKTX]
      ,sap_is.[NAME_SH]
      ,sap_is.[KOD_R_10]
      ,sap_is.[note]
      ,sap_is.[term]
      ,sap_is.[attempt]
      ,sap_is.[create]
      ,sap_is.[create_user]
      ,sap_is.[change]
      ,sap_is.[change_user]
      ,sap_is.[close]
      ,sap_is.[close_user]
	  ,car.[id]
      ,car.[id_arrival]
      ,car.[num]
      ,car.[position]
      ,car.[position_arrival]
      ,car.[consignee]
      ,car.[num_doc]
      ,car.[id_transfer]
      ,car.[note]
      ,car.[date_adoption_act]
      ,car.[arrival]
      ,car.[arrival_user]
      ,car.[create]
      ,car.[create_user]
      ,car.[change]
      ,car.[change_user]
      ,car.[id_arrival_uz_vagon]
  FROM [KRR-PA-CNT-Railway].[IDS].[SAPIncomingSupply] as sap_is INNER JOIN 
  [KRR-PA-CNT-Railway].[IDS].[ArrivalCars] as car ON car.id = sap_is.[id_arrival_car]

  where [close] is null
  order by car.[arrival]

--SELECT [id]
--      ,[id_arrival_car]
--      ,[num]
--      ,[num_doc_uz]
--      ,[date_doc_uz]
--      ,[code_border_checkpoint]
--      ,[name_border_checkpoint]
--      ,[cross_time]
--      ,[VBELN]
--      ,[NUM_VBELN]
--      ,[WERKS]
--      ,[LGORT]
--      ,[LGOBE]
--      ,[ERDAT]
--      ,[ETIME]
--      ,[LGORT_10]
--      ,[LGOBE_10]
--      ,[MATNR]
--      ,[MAKTX]
--      ,[NAME_SH]
--      ,[KOD_R_10]
--      ,[note]
--      ,[term]
--      ,[attempt]
--      ,[create]
--      ,[create_user]
--      ,[change]
--      ,[change_user]
--      ,[close]
--      ,[close_user]
--  FROM [KRR-PA-CNT-Railway].[IDS].[SAPIncomingSupply]
--  where [close] sap_is null and [VBELN] <> N''

  declare @count_all int = (SELECT count([id]) FROM [KRR-PA-CNT-Railway].[IDS].[SAPIncomingSupply] where [close] is null)
  declare @count_nakl int = (SELECT count([id]) FROM [KRR-PA-CNT-Railway].[IDS].[SAPIncomingSupply] where [close] is null and [VBELN] <> N'')

  select @count_all, @count_nakl, (@count_nakl*100)/@count_all