@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @GlobalResource.home_title;

}

@section styles {

}

@section scripts {
    <script>
        $('header').addClass('img-header-global');
    </script>
}

@section Services {

}

@section Document {
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="~/Images/portfolio/thumbnails/1.jpg" class="portfolio-box">
                    <img src="~/Images/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Руководство пользователя
                            </div>
                            <div class="project-name">
                                ИДС "Собственный парк"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="~/Images/portfolio/thumbnails/2.jpg" class="portfolio-box">
                    <img src="~/Images/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Руководство пользователя
                            </div>
                            <div class="project-name">
                                ВДС "Внутренний учет"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="~/Images/portfolio/thumbnails/3.jpg" class="portfolio-box">
                    <img src="~/Images/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Инструкции
                            </div>
                            <div class="project-name">
                                ИДС
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
}

<h1 id="homeHeading">@GlobalResource.home_title1</h1>
<hr>
<p>@GlobalResource.home_title2</p>
@*<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>*@


