USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_Ways]    Script Date: 21.09.2020 13:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_Ways](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_station] [int] NOT NULL,
	[id_park] [int] NOT NULL,
	[position_park] [int] NOT NULL,
	[position_way] [int] NOT NULL,
	[way_num_ru] [nvarchar](20) NOT NULL,
	[way_num_en] [nvarchar](20) NOT NULL,
	[way_name_ru] [nvarchar](100) NOT NULL,
	[way_name_en] [nvarchar](100) NOT NULL,
	[way_abbr_ru] [nvarchar](50) NOT NULL,
	[way_abbr_en] [nvarchar](50) NOT NULL,
	[capacity] [int] NULL,
	[deadlock] [bit] NULL,
	[crossing_uz] [bit] NULL,
	[crossing_amkr] [bit] NULL,
	[id_devision] [int] NULL,
	[note] [nvarchar](100) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_Ways] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_Ways] ON 

INSERT [IDS].[Directory_Ways] ([id], [id_station], [id_park], [position_park], [position_way], [way_num_ru], [way_num_en], [way_name_ru], [way_name_en], [way_abbr_ru], [way_abbr_en], [capacity], [deadlock], [crossing_uz], [crossing_amkr], [id_devision], [note], [create], [create_user], [change], [change_user]) VALUES (1, 1, 84, 3, 1, N'1', N'1', N'Выгрузочный', N'Выгрузочный', N'Выгрузочный', N'Выгрузочный', 12, NULL, NULL, NULL, 16, N'', CAST(N'2020-09-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_Ways] ([id], [id_station], [id_park], [position_park], [position_way], [way_num_ru], [way_num_en], [way_name_ru], [way_name_en], [way_abbr_ru], [way_abbr_en], [capacity], [deadlock], [crossing_uz], [crossing_amkr], [id_devision], [note], [create], [create_user], [change], [change_user]) VALUES (2, 1, 84, 3, 2, N'2', N'2', N'Выгрузочный', N'Выгрузочный', N'Выгрузочный', N'Выгрузочный', 10, NULL, NULL, NULL, 16, N'', CAST(N'2020-09-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_Ways] ([id], [id_station], [id_park], [position_park], [position_way], [way_num_ru], [way_num_en], [way_name_ru], [way_name_en], [way_abbr_ru], [way_abbr_en], [capacity], [deadlock], [crossing_uz], [crossing_amkr], [id_devision], [note], [create], [create_user], [change], [change_user]) VALUES (3, 1, 73, 2, 1, N'1к', N'1к', N'Ходовой', N'Ходовой', N'Ходовой', N'Ходовой', 5, NULL, NULL, NULL, NULL, N'', CAST(N'2020-09-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Directory_Ways] OFF
ALTER TABLE [IDS].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_Divisions] FOREIGN KEY([id_devision])
REFERENCES [IDS].[Directory_Divisions] ([id])
GO
ALTER TABLE [IDS].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_Divisions]
GO
ALTER TABLE [IDS].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_ParkWays] FOREIGN KEY([id_park])
REFERENCES [IDS].[Directory_ParkWays] ([id])
GO
ALTER TABLE [IDS].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_ParkWays]
GO
ALTER TABLE [IDS].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_Station] FOREIGN KEY([id_station])
REFERENCES [IDS].[Directory_Station] ([id])
GO
ALTER TABLE [IDS].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_Station]
GO
