/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
declare @date datetime = convert(datetime,'2021-01-01 00:00:00.000',120)

SELECT [id]
      ,[id_arrived]
      ,[id_sostav]
      ,[train]
      ,[composition_index]
      ,[date_arrival]
      ,[date_adoption]
      ,[date_adoption_act]
      ,[id_station_from]
      ,[id_station_on]
      ,[id_way]
      ,[numeration]
      ,[num_doc]
      ,[count]
      ,[status]
      ,[note]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav]
  where [date_arrival] <@date and [date_adoption] is not null

  SELECT [id]
      ,[id_arrival]
      ,[num]
      ,[position]
      ,[position_arrival]
      ,[consignee]
      ,[num_doc]
      ,[id_transfer]
      ,[note]
      ,[date_adoption_act]
      ,[arrival]
      ,[arrival_user]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
      ,[id_arrival_uz_vagon]
  FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalCars]
  where [id_arrival] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where [date_arrival] <@date and [date_adoption] is not null) and [position_arrival] is not null

    --SELECT [id]
    --  ,[num]
    --  ,[id_arrival_car]
    --  ,[id_sap_incoming_supply]
    --  ,[doc_outgoing_car]
    --  ,[id_outgoing_car]
    --  ,[id_sap_outbound_supply]
    --  ,[note]
    --  ,[create]
    --  ,[create_user]
    --  ,[close]
    --  ,[close_user]
    --  ,[parent_id]
	  delete
  FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalRoutes]
  where [id_arrival_car] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalCars] where [id_arrival] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where [date_arrival] <@date and [date_adoption] is not null) and [position_arrival] is not null)

  	  delete
  FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalOperation]
  where [id_wagon_internal_routes] in (select [id] FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalRoutes] where [id_arrival_car] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalCars] where [id_arrival] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where [date_arrival] <@date and [date_adoption] is not null) and [position_arrival] is not null))

	  delete
  FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalMovement]
  where [id_wagon_internal_routes] in (select [id] FROM [KRR-PA-CNT-Railway].[IDS].[WagonInternalRoutes] where [id_arrival_car] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalCars] where [id_arrival] in (select id FROM [KRR-PA-CNT-Railway].[IDS].[ArrivalSostav] where [date_arrival] <@date and [date_adoption] is not null) and [position_arrival] is not null))