USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[OutgoingCars]    Script Date: 28.08.2020 17:42:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[OutgoingCars](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_outgoing] [bigint] NULL,
	[num] [int] NOT NULL,
	[position] [int] NOT NULL,
	[position_outgoing] [int] NULL,
	[note] [nvarchar](200) NULL,
	[date_outgoing_act] [datetime] NULL,
	[outgoing] [datetime] NULL,
	[outgoing_user] [nvarchar](50) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
	[id_outgoing_uz_vagon] [bigint] NULL,
 CONSTRAINT [PK_OutgoingCars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[OutgoingCars] ON 

INSERT [IDS].[OutgoingCars] ([id], [id_outgoing], [num], [position], [position_outgoing], [note], [date_outgoing_act], [outgoing], [outgoing_user], [create], [create_user], [change], [change_user], [id_outgoing_uz_vagon]) VALUES (57, 8, 63179709, 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-08-27T17:27:27.137' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL, NULL)
INSERT [IDS].[OutgoingCars] ([id], [id_outgoing], [num], [position], [position_outgoing], [note], [date_outgoing_act], [outgoing], [outgoing_user], [create], [create_user], [change], [change_user], [id_outgoing_uz_vagon]) VALUES (58, 8, 63028161, 2, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-08-27T17:27:27.140' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL, NULL)
INSERT [IDS].[OutgoingCars] ([id], [id_outgoing], [num], [position], [position_outgoing], [note], [date_outgoing_act], [outgoing], [outgoing_user], [create], [create_user], [change], [change_user], [id_outgoing_uz_vagon]) VALUES (59, 8, 61524641, 3, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-08-27T17:27:27.140' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[OutgoingCars] OFF
ALTER TABLE [IDS].[OutgoingCars]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingCars_OutgoingSostav] FOREIGN KEY([id_outgoing])
REFERENCES [IDS].[OutgoingSostav] ([id])
GO
ALTER TABLE [IDS].[OutgoingCars] CHECK CONSTRAINT [FK_OutgoingCars_OutgoingSostav]
GO
