USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_CargoETSNG]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_CargoETSNG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[cargo_etsng_name_ru] [nvarchar](250) NOT NULL,
	[cargo_etsng_name_en] [nvarchar](250) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_CargoETSNG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_CargoETSNG] ON 

INSERT [IDS].[Directory_CargoETSNG] ([id], [code], [cargo_etsng_name_ru], [cargo_etsng_name_en], [create], [create_user], [change], [change_user]) VALUES (1, 421034, N'Вагоны железнодорожные, перевозимые на своих осях, не поименованные в алфавите', N'Вагоны железнодорожные, перевозимые на своих осях, не поименованные в алфавите', CAST(N'2020-04-15T21:24:39.993' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CargoETSNG] ([id], [code], [cargo_etsng_name_ru], [cargo_etsng_name_en], [create], [create_user], [change], [change_user]) VALUES (2, 161016, N'Антрацит', N'Антрацит', CAST(N'2020-04-15T21:58:03.727' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CargoETSNG] ([id], [code], [cargo_etsng_name_ru], [cargo_etsng_name_en], [create], [create_user], [change], [change_user]) VALUES (3, 693176, N'Оборудование съемное (турникеты,стойки,кассеты,призмы,хлебные щиты,стяжки,стропы и др.)', N'Оборудование съемное (турникеты,стойки,кассеты,призмы,хлебные щиты,стяжки,стропы и др.)', CAST(N'2020-04-30T00:56:15.947' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_CargoETSNG] OFF
