USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_PayerSender]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_PayerSender](
	[code] [nvarchar](20) NOT NULL,
	[payer_name_ru] [nvarchar](100) NOT NULL,
	[payer_name_en] [nvarchar](100) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_PayerSender] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [IDS].[Directory_PayerSender] ([code], [payer_name_ru], [payer_name_en], [create], [create_user], [change], [change_user]) VALUES (N'0', N'До выяснения', N'Until clarification', CAST(N'2020-06-02T09:04:22.657' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_PayerSender] ([code], [payer_name_ru], [payer_name_en], [create], [create_user], [change], [change_user]) VALUES (N'2557780', N'ООО"Альтер Групп"', N'ООО"Альтер Групп"', CAST(N'2020-07-28T15:57:03.477' AS DateTime), N'EUROPE\yvmanko', NULL, NULL)
INSERT [IDS].[Directory_PayerSender] ([code], [payer_name_ru], [payer_name_en], [create], [create_user], [change], [change_user]) VALUES (N'2557818', N'ТОВ "А - ЕНЕРГІЯ"', N'ТОВ "А - ЕНЕРГІЯ"', CAST(N'2020-08-12T19:52:55.710' AS DateTime), N'EUROPE\igsemenkovich', NULL, NULL)
