USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[OutgoingSostav]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[OutgoingSostav](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[num_doc] [int] NOT NULL,
	[id_station_from] [int] NOT NULL,
	[id_way_from] [int] NOT NULL,
	[id_station_on] [int] NULL,
	[date_readiness_amkr] [datetime] NOT NULL,
	[date_show_wagons] [datetime] NULL,
	[date_readiness_uz] [datetime] NULL,
	[date_outgoing] [datetime] NULL,
	[date_outgoing_act] [datetime] NULL,
	[composition_index] [nvarchar](50) NULL,
	[status] [int] NOT NULL,
	[note] [nvarchar](200) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_OutgoingSostav] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[OutgoingSostav] ON 

INSERT [IDS].[OutgoingSostav] ([id], [num_doc], [id_station_from], [id_way_from], [id_station_on], [date_readiness_amkr], [date_show_wagons], [date_readiness_uz], [date_outgoing], [date_outgoing_act], [composition_index], [status], [note], [create], [create_user], [change], [change_user]) VALUES (8, 2237, 6, 105, 16, CAST(N'2020-08-26T17:50:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'Перенесен по данным КИС', CAST(N'2020-08-27T17:27:26.897' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[OutgoingSostav] ([id], [num_doc], [id_station_from], [id_way_from], [id_station_on], [date_readiness_amkr], [date_show_wagons], [date_readiness_uz], [date_outgoing], [date_outgoing_act], [composition_index], [status], [note], [create], [create_user], [change], [change_user]) VALUES (9, 2238, 27, 788, 14, CAST(N'2020-08-26T17:55:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'Перенесен по данным КИС', CAST(N'2020-08-27T17:27:31.153' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[OutgoingSostav] ([id], [num_doc], [id_station_from], [id_way_from], [id_station_on], [date_readiness_amkr], [date_show_wagons], [date_readiness_uz], [date_outgoing], [date_outgoing_act], [composition_index], [status], [note], [create], [create_user], [change], [change_user]) VALUES (10, 2246, 6, 105, 16, CAST(N'2020-08-26T21:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, N'Перенесен по данным КИС', CAST(N'2020-08-27T17:27:31.327' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[OutgoingSostav] OFF
ALTER TABLE [IDS].[OutgoingSostav]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingSostav_Directory_Station] FOREIGN KEY([id_station_from])
REFERENCES [IDS].[Directory_Station] ([id])
GO
ALTER TABLE [IDS].[OutgoingSostav] CHECK CONSTRAINT [FK_OutgoingSostav_Directory_Station]
GO
ALTER TABLE [IDS].[OutgoingSostav]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingSostav_Directory_Station1] FOREIGN KEY([id_station_on])
REFERENCES [IDS].[Directory_Station] ([id])
GO
ALTER TABLE [IDS].[OutgoingSostav] CHECK CONSTRAINT [FK_OutgoingSostav_Directory_Station1]
GO
ALTER TABLE [IDS].[OutgoingSostav]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingSostav_Directory_Ways] FOREIGN KEY([id_way_from])
REFERENCES [IDS].[Directory_Ways] ([id])
GO
ALTER TABLE [IDS].[OutgoingSostav] CHECK CONSTRAINT [FK_OutgoingSostav_Directory_Ways]
GO
