USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_CertificationData]    Script Date: 15.09.2020 16:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_CertificationData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[certification_data_ru] [nvarchar](50) NOT NULL,
	[certification_data_en] [nvarchar](50) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_CertificationData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_CertificationData] ON 

INSERT [IDS].[Directory_CertificationData] ([id], [certification_data_ru], [certification_data_en], [create], [create_user], [change], [change_user]) VALUES (1, N'фр.50-90 мм', N'fr. 50-90 mm', CAST(N'2020-04-14T09:50:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CertificationData] ([id], [certification_data_ru], [certification_data_en], [create], [create_user], [change], [change_user]) VALUES (2, N'фр. 20-60 мм', N'fr. 20-60 mm', CAST(N'2020-04-14T09:50:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CertificationData] ([id], [certification_data_ru], [certification_data_en], [create], [create_user], [change], [change_user]) VALUES (3, N'фр.5-30 мм', N'fr. 5-30 mm', CAST(N'2020-04-14T09:50:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Directory_CertificationData] OFF
