USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_ParkWay]    Script Date: 11.06.2020 14:14:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_ParkWay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[park_name_ru] [nvarchar](100) NOT NULL,
	[park_name_en] [nvarchar](100) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_ParkWay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_ParkWay] ON 

INSERT [IDS].[Directory_ParkWay] ([id], [park_name_ru], [park_name_en], [create], [create_user], [change], [change_user]) VALUES (1, N'1 пучок сортировочного парка', N'1 пучок сортировочного парка', CAST(N'2020-06-11T08:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_ParkWay] ([id], [park_name_ru], [park_name_en], [create], [create_user], [change], [change_user]) VALUES (2, N'2 пучок сортировочного парка', N'2 пучок сортировочного парка', CAST(N'2020-06-11T08:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_ParkWay] ([id], [park_name_ru], [park_name_en], [create], [create_user], [change], [change_user]) VALUES (3, N'3 пучок сортировочного парка', N'3 пучок сортировочного парка', CAST(N'2020-06-11T08:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[Directory_ParkWay] OFF
