USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_Countrys]    Script Date: 7/12/2020 9:52:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_Countrys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code_sng] [int] NULL,
	[code_europe] [int] NULL,
	[code_iso] [int] NULL,
	[countrys_name_ru] [nvarchar](100) NOT NULL,
	[countrys_name_en] [nvarchar](100) NOT NULL,
	[country_abbr_ru] [nvarchar](10) NOT NULL,
	[country_abbr_en] [nvarchar](10) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_Countrys] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_Countrys] ON 

INSERT [IDS].[Directory_Countrys] ([id], [code_sng], [code_europe], [code_iso], [countrys_name_ru], [countrys_name_en], [country_abbr_ru], [country_abbr_en], [create], [create_user], [change], [change_user]) VALUES (0, 0, NULL, NULL, N'До выяснения', N'Until clarification', N'?', N'?', CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
INSERT [IDS].[Directory_Countrys] ([id], [code_sng], [code_europe], [code_iso], [countrys_name_ru], [countrys_name_en], [country_abbr_ru], [country_abbr_en], [create], [create_user], [change], [change_user]) VALUES (1, 57, NULL, 31, N'Азербайджан', N'Azerbaijan', N'АЗЕ', N'AZE', CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
INSERT [IDS].[Directory_Countrys] ([id], [code_sng], [code_europe], [code_iso], [countrys_name_ru], [countrys_name_en], [country_abbr_ru], [country_abbr_en], [create], [create_user], [change], [change_user]) VALUES (2, 58, NULL, 51, N'Армения', N'Armenia', N'АРМ', N'ARM', CAST(N'2020-02-04T15:05:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, N'')
SET IDENTITY_INSERT [IDS].[Directory_Countrys] OFF
