USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_OwnersWagons]    Script Date: 02.01.2020 16:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_OwnersWagons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbr_ru] [nvarchar](20) NOT NULL,
	[owner_ru] [nvarchar](100) NOT NULL,
	[abbr_en] [nvarchar](20) NOT NULL,
	[owner_en] [nvarchar](100) NOT NULL,
	[local_use] [bit] NOT NULL,
 CONSTRAINT [PK_Directory_OwnersWagons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_OwnersWagons] ON 

INSERT [IDS].[Directory_OwnersWagons] ([id], [abbr_ru], [owner_ru], [abbr_en], [owner_en], [local_use]) VALUES (1, N'ООО "ПСЕЛ ЛТД"', N'ООО "ПСЕЛ ЛТД"', N'ООО "ПСЕЛ ЛТД"', N'ООО "ПСЕЛ ЛТД"', 1)
INSERT [IDS].[Directory_OwnersWagons] ([id], [abbr_ru], [owner_ru], [abbr_en], [owner_en], [local_use]) VALUES (2, N'АМКР', N'ПАО "АрселорМиттал Кривой Рог"', N'АМКР', N'ПАО "АрселорМиттал Кривой Рог"', 1)
INSERT [IDS].[Directory_OwnersWagons] ([id], [abbr_ru], [owner_ru], [abbr_en], [owner_en], [local_use]) VALUES (3, N'Спецтранссер', N'ООО Спецтранссервис', N'Спецтранссер', N'ООО Спецтранссервис', 1)
SET IDENTITY_INSERT [IDS].[Directory_OwnersWagons] OFF
