USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[ArrivalCars]    Script Date: 3/11/2020 8:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[ArrivalCars](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_arrival] [bigint] NULL,
	[num] [int] NOT NULL,
	[position] [int] NOT NULL,
	[position_arrival] [int] NULL,
	[consignee] [int] NOT NULL,
	[num_doc] [nvarchar](50) NULL,
	[note] [nvarchar](200) NULL,
	[arrival] [datetime] NULL,
	[arrival_user] [nvarchar](50) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_ArrivalCars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[ArrivalCars] ON 

INSERT [IDS].[ArrivalCars] ([id], [id_arrival], [num], [position], [position_arrival], [consignee], [num_doc], [note], [arrival], [arrival_user], [create], [create_user], [change], [change_user]) VALUES (51, 17, 62079280, 1, NULL, 7932, NULL, NULL, NULL, NULL, CAST(N'2020-03-10T09:13:11.223' AS DateTime), N'EUROPE\krr-svc-RailWay', NULL, NULL)
INSERT [IDS].[ArrivalCars] ([id], [id_arrival], [num], [position], [position_arrival], [consignee], [num_doc], [note], [arrival], [arrival_user], [create], [create_user], [change], [change_user]) VALUES (52, 17, 63259972, 2, NULL, 7932, NULL, NULL, NULL, NULL, CAST(N'2020-03-10T09:13:11.347' AS DateTime), N'EUROPE\krr-svc-RailWay', NULL, NULL)
INSERT [IDS].[ArrivalCars] ([id], [id_arrival], [num], [position], [position_arrival], [consignee], [num_doc], [note], [arrival], [arrival_user], [create], [create_user], [change], [change_user]) VALUES (53, 17, 61357034, 3, NULL, 7932, NULL, NULL, NULL, NULL, CAST(N'2020-03-10T09:13:11.457' AS DateTime), N'EUROPE\krr-svc-RailWay', NULL, NULL)
GO
SET IDENTITY_INSERT [IDS].[ArrivalCars] OFF
ALTER TABLE [IDS].[ArrivalCars]  WITH CHECK ADD  CONSTRAINT [FK_ArrivalCars_ArrivalSostav] FOREIGN KEY([id_arrival])
REFERENCES [IDS].[ArrivalSostav] ([id])
GO
ALTER TABLE [IDS].[ArrivalCars] CHECK CONSTRAINT [FK_ArrivalCars_ArrivalSostav]
GO
ALTER TABLE [IDS].[ArrivalCars]  WITH CHECK ADD  CONSTRAINT [FK_ArrivalCars_UZ_DOC] FOREIGN KEY([num_doc])
REFERENCES [IDS].[UZ_DOC] ([num_doc])
GO
ALTER TABLE [IDS].[ArrivalCars] CHECK CONSTRAINT [FK_ArrivalCars_UZ_DOC]
GO
