USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_LimitingLoading]    Script Date: 7/12/2020 9:52:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_LimitingLoading](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[limiting_name_ru] [nvarchar](100) NOT NULL,
	[limiting_name_en] [nvarchar](100) NOT NULL,
	[limiting_abbr_ru] [nvarchar](30) NOT NULL,
	[limiting_abbr_en] [nvarchar](30) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_LimitingLoading] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_LimitingLoading] ON 

INSERT [IDS].[Directory_LimitingLoading] ([id], [limiting_name_ru], [limiting_name_en], [limiting_abbr_ru], [limiting_abbr_en], [create], [create_user], [change], [change_user]) VALUES (1, N'Все согласованные направления', N'Все согласованные направления', N'Все направл.', N'Все направл.', CAST(N'2020-07-06T12:16:00.000' AS DateTime), N'EUROPE\ivshuba', NULL, NULL)
INSERT [IDS].[Directory_LimitingLoading] ([id], [limiting_name_ru], [limiting_name_en], [limiting_abbr_ru], [limiting_abbr_en], [create], [create_user], [change], [change_user]) VALUES (2, N'Согласованные направления (металл, ЖРК)', N'Согласованные направления (металл, ЖРК)', N'Соглас.направл (метал,ЖРК)', N'Соглас.направл (метал,ЖРК)', CAST(N'2020-07-06T12:16:00.000' AS DateTime), N'EUROPE\ivshuba', NULL, NULL)
INSERT [IDS].[Directory_LimitingLoading] ([id], [limiting_name_ru], [limiting_name_en], [limiting_abbr_ru], [limiting_abbr_en], [create], [create_user], [change], [change_user]) VALUES (3, N'Погрузка только ЖРК', N'Погрузка только ЖРК', N'ЖРК', N'ЖРК', CAST(N'2020-07-06T12:16:00.000' AS DateTime), N'EUROPE\ivshuba', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_LimitingLoading] OFF
