USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[CardsWagonsRepairs]    Script Date: 02.01.2020 16:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[CardsWagonsRepairs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num] [int] NOT NULL,
	[id_type_repair_wagon] [int] NOT NULL,
	[date_repair] [datetime] NULL,
	[id_internal_railroad] [int] NULL,
	[code_depo] [int] NULL,
	[date_non_working] [datetime] NULL,
	[id_wagons_condition] [int] NULL,
	[note] [nvarchar](500) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NOT NULL,
	[change_user] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CardsWagonsRepairs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [IDS].[CardsWagonsRepairs]  WITH CHECK ADD  CONSTRAINT [FK_CardsWagonsRepairs_CardsWagons] FOREIGN KEY([num])
REFERENCES [IDS].[CardsWagons] ([num])
GO
ALTER TABLE [IDS].[CardsWagonsRepairs] CHECK CONSTRAINT [FK_CardsWagonsRepairs_CardsWagons]
GO
ALTER TABLE [IDS].[CardsWagonsRepairs]  WITH CHECK ADD  CONSTRAINT [FK_CardsWagonsRepairs_Directory_DEPO] FOREIGN KEY([code_depo])
REFERENCES [IDS].[Directory_DEPO] ([code])
GO
ALTER TABLE [IDS].[CardsWagonsRepairs] CHECK CONSTRAINT [FK_CardsWagonsRepairs_Directory_DEPO]
GO
ALTER TABLE [IDS].[CardsWagonsRepairs]  WITH CHECK ADD  CONSTRAINT [FK_CardsWagonsRepairs_Directory_TypesRepairsWagons] FOREIGN KEY([id_type_repair_wagon])
REFERENCES [IDS].[Directory_TypesRepairsWagons] ([id])
GO
ALTER TABLE [IDS].[CardsWagonsRepairs] CHECK CONSTRAINT [FK_CardsWagonsRepairs_Directory_TypesRepairsWagons]
GO
ALTER TABLE [IDS].[CardsWagonsRepairs]  WITH CHECK ADD  CONSTRAINT [FK_CardsWagonsRepairs_Directory_WagonsCondition] FOREIGN KEY([id_wagons_condition])
REFERENCES [IDS].[Directory_WagonsCondition] ([id])
GO
ALTER TABLE [IDS].[CardsWagonsRepairs] CHECK CONSTRAINT [FK_CardsWagonsRepairs_Directory_WagonsCondition]
GO
