USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [UZ].[Directory_InternalRailroad]    Script Date: 05.03.2020 16:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UZ].[Directory_InternalRailroad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_state] [int] NOT NULL,
	[internal_railroad] [nvarchar](250) NOT NULL,
	[code] [int] NOT NULL,
	[abbr] [nvarchar](10) NOT NULL,
	[list_code_station] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Directory_InternalRailroad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [UZ].[Directory_InternalRailroad] ON 

INSERT [UZ].[Directory_InternalRailroad] ([id], [id_state], [internal_railroad], [code], [abbr], [list_code_station]) VALUES (1, 26, N'Эстонская', 8, N'Эст', N'080005–086209;086228–086232;086800–086800;088308–089315;')
INSERT [UZ].[Directory_InternalRailroad] ([id], [id_state], [internal_railroad], [code], [abbr], [list_code_station]) VALUES (2, 25, N'Латвийская', 9, N'Лат', N'086213–086213;086302–088223;089320–099800;110003–110732;112314–114703;116917–117801;')
INSERT [UZ].[Directory_InternalRailroad] ([id], [id_state], [internal_railroad], [code], [abbr], [list_code_station]) VALUES (3, 24, N'Литовские', 12, N'Лит', N'104106–108766;110802–112302;114714–116724;120005–125206;')
SET IDENTITY_INSERT [UZ].[Directory_InternalRailroad] OFF
ALTER TABLE [UZ].[Directory_InternalRailroad]  WITH CHECK ADD  CONSTRAINT [FK_Directory_InternalRailroad_Directory_States] FOREIGN KEY([id_state])
REFERENCES [UZ].[Directory_States] ([id])
GO
ALTER TABLE [UZ].[Directory_InternalRailroad] CHECK CONSTRAINT [FK_Directory_InternalRailroad_Directory_States]
GO
