USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [LOGS].[Events]    Script Date: 04.12.2019 17:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOGS].[Events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_time] [datetime] NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[user_host_name] [nvarchar](50) NULL,
	[user_host_address] [nvarchar](50) NULL,
	[physical_path] [nvarchar](1000) NULL,
	[service] [int] NULL,
	[event_id] [int] NULL,
	[event] [nvarchar](max) NULL,
	[status] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
