USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [TD].[MarriageWork]    Script Date: 02.01.2020 16:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TD].[MarriageWork](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_start] [datetime] NOT NULL,
	[date_stop] [datetime] NULL,
	[id_district_object] [int] NOT NULL,
	[site] [nvarchar](200) NOT NULL,
	[id_classification] [int] NOT NULL,
	[id_nature] [int] NULL,
	[num] [nvarchar](200) NOT NULL,
	[id_cause] [int] NOT NULL,
	[id_type_cause] [int] NOT NULL,
	[id_subdivision] [int] NOT NULL,
	[akt] [int] NOT NULL,
	[locomotive_series] [nvarchar](100) NOT NULL,
	[driver] [nvarchar](100) NULL,
	[helper] [nvarchar](100) NULL,
	[measures] [nvarchar](500) NULL,
	[note] [nvarchar](500) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NOT NULL,
	[change_user] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MarriageWork] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [TD].[MarriageWork] ON 

GO
SET IDENTITY_INSERT [TD].[MarriageWork] OFF
ALTER TABLE [TD].[MarriageWork]  WITH CHECK ADD  CONSTRAINT [FK_MarriageWork_MarriageCause] FOREIGN KEY([id_cause])
REFERENCES [TD].[MarriageCause] ([id])
GO
ALTER TABLE [TD].[MarriageWork] CHECK CONSTRAINT [FK_MarriageWork_MarriageCause]
GO
ALTER TABLE [TD].[MarriageWork]  WITH CHECK ADD  CONSTRAINT [FK_MarriageWork_MarriageClassification] FOREIGN KEY([id_classification])
REFERENCES [TD].[MarriageClassification] ([id])
GO
ALTER TABLE [TD].[MarriageWork] CHECK CONSTRAINT [FK_MarriageWork_MarriageClassification]
GO
ALTER TABLE [TD].[MarriageWork]  WITH CHECK ADD  CONSTRAINT [FK_MarriageWork_MarriageDistrictObject] FOREIGN KEY([id_district_object])
REFERENCES [TD].[MarriageDistrictObject] ([id])
GO
ALTER TABLE [TD].[MarriageWork] CHECK CONSTRAINT [FK_MarriageWork_MarriageDistrictObject]
GO
ALTER TABLE [TD].[MarriageWork]  WITH CHECK ADD  CONSTRAINT [FK_MarriageWork_MarriageNature] FOREIGN KEY([id_nature])
REFERENCES [TD].[MarriageNature] ([id])
GO
ALTER TABLE [TD].[MarriageWork] CHECK CONSTRAINT [FK_MarriageWork_MarriageNature]
GO
ALTER TABLE [TD].[MarriageWork]  WITH CHECK ADD  CONSTRAINT [FK_MarriageWork_MarriageSubdivision] FOREIGN KEY([id_subdivision])
REFERENCES [TD].[MarriageSubdivision] ([id])
GO
ALTER TABLE [TD].[MarriageWork] CHECK CONSTRAINT [FK_MarriageWork_MarriageSubdivision]
GO
