USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [UZ].[Directory_Countrys]    Script Date: 02.01.2020 16:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UZ].[Directory_Countrys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](100) NOT NULL,
	[Alpha_2] [nvarchar](2) NOT NULL,
	[alpha_3] [nvarchar](3) NOT NULL,
	[code] [int] NOT NULL,
	[iso3166_2] [nvarchar](20) NOT NULL,
	[id_state] [int] NULL,
	[code_europe] [int] NULL,
 CONSTRAINT [PK_Directory_Countrys] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [UZ].[Directory_Countrys] ON 

INSERT [UZ].[Directory_Countrys] ([id], [country], [Alpha_2], [alpha_3], [code], [iso3166_2], [id_state], [code_europe]) VALUES (1, N'Австралия', N'AU', N'AUS', 36, N'ISO 3166-2:AU', NULL, NULL)
INSERT [UZ].[Directory_Countrys] ([id], [country], [Alpha_2], [alpha_3], [code], [iso3166_2], [id_state], [code_europe]) VALUES (2, N'Австрия', N'AT', N'AUT', 40, N'ISO 3166-2:AT', NULL, NULL)
INSERT [UZ].[Directory_Countrys] ([id], [country], [Alpha_2], [alpha_3], [code], [iso3166_2], [id_state], [code_europe]) VALUES (3, N'Азербайджан', N'AZ', N'AZE', 31, N'ISO 3166-2:AZ', 57, NULL)
GO
SET IDENTITY_INSERT [UZ].[Directory_Countrys] OFF
ALTER TABLE [UZ].[Directory_Countrys]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Countrys_Directory_States] FOREIGN KEY([id_state])
REFERENCES [UZ].[Directory_States] ([id])
GO
ALTER TABLE [UZ].[Directory_Countrys] CHECK CONSTRAINT [FK_Directory_Countrys_Directory_States]
GO
