
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Cont]
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Pay]
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Acts]
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon]


--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Pay]
--delete from [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Docs]
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Acts]
--delete FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document]

/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT [id]
      ,[id_doc_uz]
      ,[nom_doc]
      ,[nom_main_doc]
      ,[code_stn_from]
      ,[code_stn_to]
      ,[code_border_checkpoint]
      ,[cross_time]
      ,[code_shipper]
      ,[code_consignee]
      ,[klient]
      ,[code_payer_sender]
      ,[code_payer_arrival]
      ,[distance_way]
      ,[note]
      ,[parent_id]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document]


SELECT [id]
      ,[id_document]
      ,[code_payer]
      ,[type_payer]
      ,[kod]
      ,[summa]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Pay]

  SELECT [id]
      ,[id_document]
      ,[id_doc]
      ,[description]
      ,[doc_date]
      ,[doc_type]
      ,[doc_type_name]
      ,[doc]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Docs]

  SELECT [id]
      ,[id_document]
      ,[date_akt]
      ,[date_dved]
      ,[nom_akt]
      ,[nom_dved]
      ,[prichina_akt]
      ,[stn_akt]
      ,[stn_name_akt]
      ,[type]
      ,[vagon_nom]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Document_Acts]

  SELECT [id]
      ,[id_document]
      ,[num]
      ,[id_arrival]
      ,[id_car]
      ,[id_condition]
      ,[id_type]
      ,[gruzp]
      ,[u_tara]
      ,[ves_tary_arc]
      ,[route]
      ,[note_vagon]
      ,[id_cargo]
      ,[id_cargo_gng]
      ,[id_certification_data]
      ,[id_commercial_condition]
      ,[kol_pac]
      ,[pac]
      ,[vesg]
      ,[vesg_reweighing]
      ,[nom_zpu]
      ,[danger]
      ,[danger_kod]
      ,[cargo_returns]
      ,[id_station_on_amkr]
      ,[kol_conductor]
      ,[create]
      ,[create_user]
      ,[change]
      ,[change_user]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon]

  SELECT [id]
      ,[id_vagon]
      ,[kod]
      ,[summa]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Pay]

  SELECT [id]
      ,[id_vagon]
      ,[date_akt]
      ,[date_dved]
      ,[nom_akt]
      ,[nom_dved]
      ,[prichina_akt]
      ,[stn_akt]
      ,[stn_name_akt]
      ,[type]
      ,[vagon_nom]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Acts]

  SELECT [id]
      ,[id_vagon]
      ,[nom_cont]
      ,[kod_tiporazmer]
      ,[gruzp]
      ,[ves_tary_arc]
      ,[id_cargo]
      ,[id_cargo_gng]
      ,[kol_pac]
      ,[pac]
      ,[vesg]
      ,[vesg_reweighing]
      ,[nom_zpu]
  FROM [KRR-PA-CNT-Railway].[IDS].[Arrival_UZ_Vagon_Cont]