USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [IDS].[Directory_OuterWays]    Script Date: 08.11.2020 21:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_OuterWays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_outer_way_ru] [nvarchar](150) NOT NULL,
	[name_outer_way_en] [nvarchar](150) NOT NULL,
	[id_station_from] [int] NOT NULL,
	[id_park_from] [int] NULL,
	[id_way_from] [int] NULL,
	[side_from] [bit] NULL,
	[id_station_on] [int] NOT NULL,
	[id_park_on] [int] NULL,
	[id_way_on] [int] NULL,
	[side_on] [bit] NULL,
	[exit_uz] [bit] NOT NULL,
	[way_close] [datetime] NULL,
	[way_delete] [datetime] NULL,
	[note] [nvarchar](200) NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_OuterWays] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [IDS].[Directory_OuterWays] ON 

INSERT [IDS].[Directory_OuterWays] ([id], [name_outer_way_ru], [name_outer_way_en], [id_station_from], [id_park_from], [id_way_from], [side_from], [id_station_on], [id_park_on], [id_way_on], [side_on], [exit_uz], [way_close], [way_delete], [note], [create], [create_user], [change], [change_user]) VALUES (1, N'Перегон  ст. Новоблочная пост 10 км - ст. Восточная-Приемоотправочная', N'outer way st. Newblock post 10 km - st. Vostochnaya-Receiving', 18, NULL, NULL, NULL, 6, NULL, NULL, NULL, 1, NULL, NULL, NULL, CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_OuterWays] ([id], [name_outer_way_ru], [name_outer_way_en], [id_station_from], [id_park_from], [id_way_from], [side_from], [id_station_on], [id_park_on], [id_way_on], [side_on], [exit_uz], [way_close], [way_delete], [note], [create], [create_user], [change], [change_user]) VALUES (2, N'Перегон  ст. Южная ГД (Путь №I) - ст. Промышленная ГД', N'outer way st. South State Duma (Route No. I) - Art. Industrial State Duma', 36, NULL, 1115, NULL, 28, NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_OuterWays] ([id], [name_outer_way_ru], [name_outer_way_en], [id_station_from], [id_park_from], [id_way_from], [side_from], [id_station_on], [id_park_on], [id_way_on], [side_on], [exit_uz], [way_close], [way_delete], [note], [create], [create_user], [change], [change_user]) VALUES (3, N'Перегон cт. Стальная-2 - ст. Покатная-2', N'outer way st. Steel-2 - Art. Pokatnaya-2', 32, NULL, NULL, NULL, 25, NULL, NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_OuterWays] OFF
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_ParkWays] FOREIGN KEY([id_park_from])
REFERENCES [IDS].[Directory_ParkWays] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_ParkWays]
GO
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_ParkWays1] FOREIGN KEY([id_park_on])
REFERENCES [IDS].[Directory_ParkWays] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_ParkWays1]
GO
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_Station] FOREIGN KEY([id_station_on])
REFERENCES [IDS].[Directory_Station] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_Station]
GO
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_Station1] FOREIGN KEY([id_station_from])
REFERENCES [IDS].[Directory_Station] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_Station1]
GO
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_Ways] FOREIGN KEY([id_way_from])
REFERENCES [IDS].[Directory_Ways] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_Ways]
GO
ALTER TABLE [IDS].[Directory_OuterWays]  WITH CHECK ADD  CONSTRAINT [FK_Directory_OuterWays_Directory_Ways1] FOREIGN KEY([id_way_on])
REFERENCES [IDS].[Directory_Ways] ([id])
GO
ALTER TABLE [IDS].[Directory_OuterWays] CHECK CONSTRAINT [FK_Directory_OuterWays_Directory_Ways1]
GO
